<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BetManager.Core.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=BetManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>