@model BetManager.Web.Controllers.Tips.List.TipListViewModel

@{
    ViewBag.Title = "Tipy";
}

<div class="row">
  <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("_IndexFilter", Model.Filter)

@Html.Partial("_IndexList", Model.Rows)

@section scripts {
  <script type="text/javascript">
      $(document).ready(function () {

          $('#datepickerFrom').datetimepicker({
              locale: 'cs',
              format: 'L'
          });

          $('#datepickerTo').datetimepicker({
              locale: 'cs',
              format: 'L'
          });

          $('#example').DataTable({
              responsive: true,
              order: [[1, "asc"]],
              columns: [
                { data: "DisplayName" },
                { data: "DateStart", render: function (d, t, r) { return moment(r.DateStart).format("YYYY-MM-DD HH:mm"); } },
                { data: "PredictTip" },
                { data: "Home", render: function (d, t, r) { return '<button type="button" class="btn">' + r.Home + '</button>' } },
                { data: "Draw", render: function (d, t, r) { return '<button type="button" class="btn">' + r.Draw + '</button>' } },
                { data: "Away", render: function (d, t, r) { return '<button type="button" class="btn">' + r.Away + '</button>' } },
                { data: "Odd" },
                { data: "WinnerCode" },
                { data: "ID" }
              ],
              createdRow: function (row, data, dataIndex) {
                  // podbarveni radku
                  var isEqual = data.WinnerCode == data.PredictTip;
                  if (data.WinnerCode > 0 && data.PredictTip > 0) {
                      if (isEqual) {
                          $(row).addClass('success');
                      }
                      else {
                          $(row).addClass('danger');
                      }
                  }
                  // vyber tipu
                  var cssType = data.WinnerCode > 0 ?  (isEqual ? 'btn-success' : 'btn-danger') : 'btn-info';
                  if (data.PredictTip == 1) {
                      $('td', row).eq(3).find(":button").addClass(cssType);
                  }
                  else if (data.PredictTip == 3) {
                      $('td', row).eq(4).find(":button").addClass(cssType);
                  }
                  else if (data.PredictTip == 2) {
                      $('td', row).eq(5).find(":button").addClass(cssType);
                  }
                  else {
                      // nic
                  }

              }
          });
      });
  </script>
}
