@model BetManager.Web.Controllers.Tips.List.TipListViewModel

@{
    ViewBag.Title = "Tipy 1x2";
}

<div class="row">
  <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("_IndexFilter", Model.Filter)

@Html.Partial("_IndexList", Model.Rows)

@section scripts {
  <script type="text/javascript">

      var update_size = function () {
          var table = $('#example');
          table.width(table.parent().width());
      }

      $(window).resize(function () {
          clearTimeout(window.refresh_size);
          window.refresh_size = setTimeout(function () { update_size(); }, 250);
      });

      $(document).ready(function () {
          $('#datepickerFrom').datetimepicker({
              locale: 'cs',
              format: 'L'
          });

          $('#datepickerTo').datetimepicker({
              locale: 'cs',
              format: 'L'
          });

          $('#example').DataTable({
              responsive: true,
              order: [[1, "asc"]],
              "pagingType": "simple",
              "AutoWidth": true,
              columns: [
                { data: "DisplayName" },
                { data: "DateStart", render: function (d, t, r) { return moment(r.DateStart).format("YYYY-MM-DD HH:mm"); } },
                { data: "Home", render: function (d, t, r) { return '<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="' + r.HomeOdd + '" >' + r.Home + '</button>' } },
                { data: "Draw", render: function (d, t, r) { return '<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="' + r.DrawOdd + '" >' + r.Draw + '</button>' } },
                { data: "Away", render: function (d, t, r) { return '<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="' + r.AwayOdd + '" >' + r.Away + '</button>' } },
                { data: "HomeOdd" },
                { data: "DrawOdd" },
                { data: "AwayOdd" },
                { data: "FirstValue" },
                { data: "Xvalue" },
                { data: "SecondValue" },
                { data: "Category" },
                { data: "PredictTip" },
                { data: "Odd" },
                { data: "WinnerCode" },
                { data: "ID" }
              ],
              createdRow: function (row, data, dataIndex) {
                  // podbarveni radku
                  var isEqual = data.WinnerCode == data.PredictTip;
                  if (data.WinnerCode > 0 && data.PredictTip > 0) {
                      if (isEqual) {
                          $(row).addClass('success');
                      }
                      else {
                          $(row).addClass('danger');
                      }
                  }
                  // vyber tipu
                  var cssType = data.WinnerCode > 0 ? (isEqual ? 'btn-success' : 'btn-danger') : 'btn-info';
                  if (data.PredictTip == 1) {
                      $('td', row).eq(2).find(":button").addClass(cssType);
                  }
                  else if (data.PredictTip == 3) {
                      $('td', row).eq(3).find(":button").addClass(cssType);
                  }
                  else if (data.PredictTip == 2) {
                      $('td', row).eq(4).find(":button").addClass(cssType);
                  }
                  // pokud neni tip, tak zlute podbarvim viteze
                  if (data.WinnerCode > 0 && !isEqual) {
                      cssType = 'btn-warning';
                      if (data.WinnerCode == 1) {
                          $('td', row).eq(2).find(":button").addClass(cssType);
                      }
                      else if (data.WinnerCode == 3) {
                          $('td', row).eq(3).find(":button").addClass(cssType);
                      }
                      else if (data.WinnerCode == 2) {
                          $('td', row).eq(4).find(":button").addClass(cssType);
                      }
                  }
              }
          });
      });
  </script>
}
